* {
  box-sizing: border-box;
  text-align: center;
}

input {
  width: 105% !important;
  margin-right: 0.25em!important;
  margin-left: 0.25em!important;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}



* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;

}

.ui.grid >.row{
  padding: 100px;
  margin-right: -100px;
}

.ui[class*="four column"].grid>.column:not(.row), .ui[class*="four column"].grid>.row>.column {
  width: 105%;
}


.gridClass{
  display: grid;
  align-items:flex-start;
  justify-content: flex-start;
    grid-template-columns: repeat(2, 1fr);
}

